body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('images/logo\ blood.png'); /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #e74c3c;
}

p {
    font-size: 18px;
    color: #333;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c0392b;
}
